*{
    box-sizing: border-box;
    .navbar{
        box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
        ul{
        list-style: none;
        display: flex;
        .logo{
            width:70px;
            height:70px;
        }
        .logo_head{
            font-family: 'Courier New', Courier, monospace;
            font-size: x-large;
        }
        .form_li{
            .search{
                padding-left: 80px;
                .search_box{
                    height:30px;
                    width:50rem;
                    margin-top: 20px;
                    border-top-style: hidden;
                    border-right-style: hidden;
                    border-left-style: hidden;
                    border-bottom-style: groove;
                }
            }
        }
    
    }
    }

//IMAGE DISPLAY

.images{
    display: grid;
    // grid-template-columns: repeat( auto-fill, 2fr);
    grid-template-columns: repeat(5,15fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    
}
}